#greeting-clock-div {
  text-align: center;
  margin: auto;
}

#clock {
 font-size: 5em;
}

#greeting {
 font-size: 3em;
}

#focus-form-div, #focus-div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#focus-input {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  width: 20%;
  text-align: center;
}

#main-focus-item-div {
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

#main-focus-mark-complete {
  width: 1em;
  height: 1em;
}

#main-focus-text {
  display: block;
  padding-left: .5em;
  padding-right: .5em;
}

#main-focus-delete {
  border: none;
  font-size: 1em;
  background: none;
  outline: none;
}

#main-focus-mark-complete, #main-focus-delete {
  visibility: hidden;
}


#main-focus-item-div:hover button {
  visibility: visible;
}
